body{
    line-height: 1.2;
    letter-spacing: 1px;
    color: inherit;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
a{
    color: inherit;
    cursor: pointer;
}
.btn {
    display: block;
    max-width: 250px;
    background-color: $akcent;
    padding: 15px 10px 13px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $akcent;
    transition: all .3s;

    &:hover {
        background-color: $white;
        color: $akcent;
    }
}
.title{
    @extend %os400;
    color: $violet;
    font-size: 36px;
    margin-bottom: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
    
    
    &::after {
        content: "";
        width: 80px;
        height: 3px;
        background-color: $violet;
        margin-left: 20px;
        margin-right: 20px;

    }
}