$white:#fff;
$violet: #21062a;
$akcent: #5a0d67;
$grey: #c4c4c4;
$black: #2c2b2b;

%os400{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
%os300{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}


