@import "reset";
@import "fonts";
@import "vars";
@import "global";

.header {
    background-image: url(../images/bacg.jpeg);
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: $white;
    margin-bottom: 250px;

    &__inner {
        position: relative;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 47px;
        margin-bottom: 105px;
    }

    &__logo {
        width: 197px;
        height: 53px;
    }

    &__title {
        @extend %os300;
        font-size: 72px;
        color: $white;
        text-transform: uppercase;
    }

    &__subtitle {
        @extend %os400;
        font-size: 36px;
        color: $white;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__text {
        @extend %os400;
        font-size: 18px;
        color: $white;
        margin-bottom: 50px;
    }

    &__sociale {
        margin-top: 70px;
        width: 315px;
        text-align: center;
    }

    &__icon+.header__icon {
        margin-left: 10px;
    }

    &__img-car {
        position: absolute;
        width: 814px;
        height: 462px;
        right: 0;
        bottom: -350px;
    }

    .phone {
        @extend %os400;
        font-size: 36px;
    }
}

.services {
    margin-bottom: 100px;



    &__inner {
        display: flex;
    }

    &__box {
        max-width: 564px;
        margin-right: 96px;
    }

    &__subtitle {
        @extend %os300;
        font-size: 18px;
        color: $akcent;
    }

    &__text {
        @extend %os300;
        font-size: 18px;
        margin-top: 12px;
    }

    .services__text:nth-child(3) {
        margin-bottom: 69px;
    }

    &__btn-box {
        display: flex;
        position: relative;
    }
    &__btn {
        position: absolute;
        margin-top: 50px;
        &::before {
            content: "";
            width: 80px;
            height: 3px;
            background-color: $grey;
            position: absolute;
            left: 270px;
            top: 20px;
        }
    }
    &__btn-text{
        position: absolute;
        color: $grey;
        bottom: -80px;
        right: 180px;
        @extend %os300;
        font-size: 14px;
    }
    &__list {
        counter-reset: mynumbers;
        list-style: none;
    }

    &__item {
        position: relative;
        width: 500px;
        border: 1px solid $grey;
        margin-bottom: 12px;
        padding: 8px 47px 9px 80px;
        transition: all .3s;

        &:hover {
            border: 1px solid $akcent;
            width: 530px;
        }

        &::before {
            content: '0' counter(mynumbers);
            counter-increment: mynumbers;
            font-weight: 400;
            font-size: 36px;
            text-transform: uppercase;
            color: $grey;
            transform: rotate(-90deg);
            position: absolute;
            left: 20px;
        }

        &:hover::before {
            color: $akcent;
        }
    }

    &__item-title {
        @extend %os300;
        font-size: 24px;

        &:hover {
            color: $akcent;
        }
    }

    &__item-text {
        @extend %os300;
        font-size: 18px;
    }
}
.information{
    margin-bottom: 100px;
    &__inner{
        display: flex;
    }
    &__images{
        max-width: 320px;
        height: 606px;
        margin-right: 100px;
    }
    &__img{
        width: 100%;
    }
    &__title{
        margin-left: 180px;
    }
    &__content{
        background-color: $akcent;
        max-width: 785px;
        padding: 23px 284px 0px 185px;        
    }
    &__titles{
        @extend %os400;
        font-size: 36px;
    }
    &__subtitle{
        @extend %os300;
        font-size: 24px;
        margin-bottom: 5px;
    }
    &__text{
        @extend %os300;
        font-size: 18px;
    }
}
.information__content:last-child{
    padding-bottom: 45px;
}
.slider{
    margin-bottom: 100px;
    &__title::before{
        left: 400px;
    }
    &__content{
        border:1px solid $grey;
        max-width: 395px;
        margin: 0 auto;
        text-align: center;
        margin: 0 10px;
    }
    &__img{
        width: 98%;
        margin: 0 auto;
        margin-top: 2px;
        margin-bottom: 23px;
    }
    &__titles{
        margin-bottom: 5px;
        @extend %os300;
        font-size: 18px;
    }
    &__text{
        @extend %os300;
        font-size: 18px;
        margin-bottom: 18px;
    }
}
ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.slick-dots button{

    font-size: 0;
    background-color: $grey;
    width: 50px;
    height: 2px;
    margin: 0 10px;
}
.slick-active button {
    background-color: $akcent;
    height: 3px;
}
.slick-current {
    background-color: $akcent;
    color: $white;
    transition: all .3s;
}
.form{
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__content-title{
        margin-bottom: 50px;
        &::before {
            content: "";
            left: 180px;
        }
    }
    &__content-item{
        margin-bottom: 20px;
    }
    &__content-titles{
        color: $akcent;
        @extend %os300;
        font-size: 18px;
    }
    &__content-text{
        @extend %os300;
        font-size: 18px;
    }
    &__cart{
        background-color: $violet;
        width: 600px;
        height: 466px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;       
    }

    &__input{
        padding: 24px 10px;
        @extend %os300;
        font-size: 18px;
    }
    &__cart-btn{
        @extend %os300;
        font-size: 14px;
        background-color: $akcent;
        text-transform: uppercase;
        color: $white;
        padding: 15px 73px;
        margin-top: 78px;
    }
}
input{
    width: 450px;
    text-align: center;
    background-color: transparent;
    border: 1px solid $grey;
    margin-bottom: 12px;
    color: $white;
    &::placeholder{
        color:$white;
    }
}
.cart__title{
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 16px;
    color: $white; 
    &::before {
        content: "";
        background-color: $white;
        left: 277px;
        top: 20px;
    }
}



@import "media";