<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__contacts">
                <img class="header__logo" src="../images/src/logo 2.svg" alt="logo">
        </div>
        <div class="footer__sociale">
            <a class="header__icon" href="">
                <img class="header__img" src="../images/src/instagram.svg" alt="inst">
            </a>
            <a class="header__icon" href="">
                <img class="header__img" src="../images/src/telegram.svg" alt="teleg">
            </a>
            <a class="header__icon" href="">
                <img class="header__img" src="../images/src/whatsapp.svg" alt="wats">
            </a>
            <a class="header__icon" href="">
                <img class="header__img" src="../images/src/facebook.svg" alt="face">
            </a>
        </div>
        <a class="footer__link">Политика конфиденциальности</a>
    </div>
    
</footer>